<li>
  <h2>{{name}}</h2>
    <picture>
      <source srcset="images/{{image}}" media="(min-width: 600px)">
      <img src="images/{{image}}" alt="{{image-alt}}">
    </picture>
    {{{contents}}}
</li>